<a href="https://colab.research.google.com/github/Soorajkrishnan/ImageProcessing/blob/master/python_bascis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world')

Hello world

Ctrl+Enter : Single execution.
Shift+Enter : Execute and move to next line.

In [3]:
a=100
b=200
c=a+b
print('The sum is',c)

The sum is 300

**Numeric**: Float,Integer,Complex

In [8]:
a=10
b=20.34
print(type(a))
print(type(b))
int(b)

<class 'int'>
<class 'float'>

20

**List**: Any data values can be stored. Uses [ ](square braces) with values separated by ''(Qoutes) and ,(Comma). Values are referenced by index.

In [30]:
subject=['ds','ml','sc',1,True]
print(type(subject))
print(subject)
subject[0:3] #from zero to three: 0 to n-1
subject[2]='kk' #Overwriting value in postition 2
del subject[1] #delete the value
print(len(subject))
subject
subject*2 #repeating values in  list no overwriting
subject[::-1] #reverse

<class 'list'>
['ds', 'ml', 'sc', 1, True]
4

[True, 1, 'kk', 'ds']

**Tuple** : Non changable list like structure. Any data values can be stored. Uses ( )(sea braces) with values separated by ''(Qoutes) and ,(Comma). Values are referenced by index. Values cannot be inserted after declaration.

In [0]:
tup=('one','1','two','True')

**String**

In [42]:
a='Hello World'
print(len(a)) #printing length
print(a.index('d'))#find the postion of letter d in string a
print(a.count('l'))#find the count of letter l
print(a[::-1]) #reverse works on string too.
print(a.upper()) #toUppercase
print(a.lower()) #toLowercase

11
10
3
dlroW olleH
HELLO WORLD
hello world

**Sets** : Unordered collection of Unique elements.  Uses { }(curly braces) with values separated by ''(Qoutes) and ,(Comma).

In [56]:
a={1,2,3,4,5,6,7}
b={1,2,2,3,3,4}
print(b)#repeated values are removed
print(a|b)#a Union b: Merging elements and ommitting repeated values
print(a & b)#Intersection:repeated values
print(a-b)#Difference:non repeated values

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}
{5, 6, 7}

**Dictionary**: key pair element. {key:element1 element2, key2: element3 element4}

In [65]:
d={'name':'Abhinav','Age':21}
print(d['name'])#in square braces. accessing element by the key
sclass={'Ref No': '1001' '1110' '1111' '0001' '1010' '0001' '0101','Name': 'Abhinav''Ashil''Anandhu''Anand''Shameem''Sooraj'}

Abhinav

**Arithamatic operators**

In [67]:
a=100
b=200
print(a+b)
print(b-a)
print(a*b)
print(a/b)
print(a%b)
print(a**2)

300
100
20000
0.5
100
10000

**Comparison Operators**

In [74]:
if(a>b):
  print('A is bigger')
elif(b>a):
  print('B is bigger')
elif(a==b):
  print("A & B are equal")
elif(a!=b):
  print("A is Not equal to B")
else:
  print(":)")

B is bigger