<a href="https://colab.research.google.com/github/Soorajkrishnan/ImageProcessing/blob/master/python_bascis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world')

Hello world

Ctrl+Enter : Single execution.
Shift+Enter : Execute and move to next line.

In [3]:
a=100
b=200
c=a+b
print('The sum is',c)

The sum is 300

Numeric Datatype
: Float,Integer,Complex

In [8]:
a=10
b=20.34
print(type(a))
print(type(b))
int(b)

<class 'int'>
<class 'float'>

20

**List**: Any data values can be stored. Uses [ ](square braces) with values separated by ''(Qoutes) and ,(Comma). Values are referenced by index.

In [14]:
subject=['ds','ml','sc',1,True]
print(type(subject))
print(subject)
subject[0:3] #from zero to three: 0 to n-1

<class 'list'>
['ds', 'ml', 'sc', 1, True]

['ds', 'ml', 'sc']